.ContenedorDetail{
    display: flex;
    justify-content: space-around;
}

.ContenedorImgDetail{
    width: auto;
    margin-right: 15px;
}

.TituloDetail{
    color: #7286D3;
    font-family: Outfit;
    font-size: 50px;
}

.CategoriaDetail{
    color: #000;
}

.ImgDetail{
    width: 400px;
    border-radius: 2%;
}

.ContenedorCompra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ButtonAgregar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    
    
}